<div class="text-center">
    <h1 class="display-4">Segundo Obligatorio P3</h1>
    <ul style="font-weight:bold">Bienvenido al obligatorio de:
        <li>Maximo Brunereau des Houilleres - 307238</li>
        <li>Maximiliano Viquez - 201670</li>
    </ul>
</div>